aniso8601
async-generator
attrs
blinker
certifi
charset-normalizer
click
EasyProcess
entrypoint2
exceptiongroup
Flask
Flask-RESTful
h11
idna
itsdangerous
jeepney
Jinja2
MarkupSafe
MouseInfo
mss
outcome
packaging
Pillow
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
PySocks
python-dotenv
python3-xlib
pytweening
pytz
requests
selenium
six
sniffio
sortedcontainers
tqdm
trio
trio-websocket
urllib3
webdriver-manager
Werkzeug
wsproto
chromedriver-binary
clipboard